Q1) Find the 'id' of the movie "Andhadhun" using TMDb API.

In [ ]:
import requests
import json

In [ ]:
#https://api.themoviedb.org/3/movie/550?api_key=08702405b13e9f911809faee22ffe971
#eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIwODcwMjQwNWIxM2U5ZjkxMTgwOWZhZWUyMmZmZTk3MSIsInN1YiI6IjYzMGM2YzMzZWRlMWIwMDA3ZWQ1Mzc0OCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.ShkvUTsFqtuhMIqeW6lsF_d0H1hARXRGki0ncMUwySo
api_key = "08702405b13e9f911809faee22ffe971"
api_link = "https://api.themoviedb.org/3"
params = {'query':"Andhadhun", 'api_key':api_key}
header = {'Accept': 'application/json'}

In [ ]:
response = requests.get(api_link + "/search/movie", headers = header, params=params)
data = response.json()
results = data.get('results')
for result in results:
    if result.get('title') == 'Andhadhun':
        print(result.get('id'))

Q2) Fetch the company id company 'Marvel Studios' using TMDb. Print the id.

In [ ]:
params = {'query':"Marvel Studios", 'api_key':api_key}
header = {'Accept': 'application/json'}

In [ ]:
response = requests.get(api_link + "/search/company", headers = header, params=params)
data=response.json()
#print(data)
results=data.get('results')
#print(results)
for result in results:
    if result.get('name') == 'Marvel Studios':
        print(result.get('id'))

Q3) Find the vote count and vote average of the movie "3 Idiots" using the TMDb API

In [ ]:
import requests
import json
api_key = "08702405b13e9f911809faee22ffe971"
api_link = "https://api.themoviedb.org/3"
params = {'query':"3 Idiots", 'api_key':api_key}
header = {'Accept': 'application/json'}
response = requests.get(api_link + "/search/movie", headers = header, params=params)
data = response.json()
results = data.get('results')
for result in results:
    if result.get('title')=='3 Idiots':
         print(result.get('vote_average'),' ', result.get('vote_count') )

Q4) Fetch the names of top 5 similar movies to 'Inception' from the TMDb API.

In [ ]:
import requests
import json
api_key = "08702405b13e9f911809faee22ffe971"
api_link = "https://api.themoviedb.org/3"
params = {'query':"Inception", 'api_key':api_key}
header = {'Accept': 'application/json'}
response = requests.get(api_link + "/search/movie", headers = header, params=params)
data = response.json()
results = data.get('results')
for result in results:
    if result.get('title')=="Inception":
        print(result.get('id'))

In [ ]:
import requests
# Write your code here
api_key = "08702405b13e9f911809faee22ffe971"
api_link = "https://api.themoviedb.org/3"
params = {'query':"Inception", 'api_key':api_key}
header = {'Accept': 'application/json'}
params2 = {'api_key':api_key}
response2 = requests.get(api_link + "/movie/" + str(846190) + "/similar", headers = header, params=params2)
data2 = response2.json()
results2 = data2.get('results')
for result in results2[:5]:
    print(result.get("title"))

Q5) Fetch the top rated english movies in the US region using the TMDb API. From the result, print the first 10 movies which have original language as english. Also print their genres.

In [ ]:
import requests
import json
api_key = "08702405b13e9f911809faee22ffe971"
api_link = "https://api.themoviedb.org/3"
params = {'query':"Inception", 'api_key':api_key,'region':'US'}
header = {'Accept': 'application/json'}
response = requests.get(api_link + "/movie/top_rated", headers = header, params=params)
data = response.json()
results = data.get('results')
title_array = [] 
genre_id_array = [] 
for result in results:
    if result.get('original_language') == 'en':
        title_array.append(result.get('title'))
        genre_id_array.append(result.get('genre_ids'))

In [ ]:
title_array

In [ ]:
genre_id_array

In [ ]:
response2 = requests.get(api_link + "/genre/movie/list", headers = header, params = params) 
data2 = response2.json()
#print(data2)
genre=data2.get('genres')
#print(genre)

In [ ]:
mapping={}
for gen in genre:
    mapping[gen.get('id')]=gen.get('name')

In [ ]:
for i in range(10): 
    print(title_array[i], "-", end=" ") 
    for id in genre_id_array[i]: 
        print(mapping.get(id), end = ", ") 
    print()

Q6) Find the name and birthplace of the present most popular person according to TMDb API.

In [ ]:
import requests
import json
api_key = "08702405b13e9f911809faee22ffe971"
api_link = "https://api.themoviedb.org/3"
params = {'api_key':api_key}
header = {'Accept': 'application/json'}
response = requests.get(api_link + "/person/popular", headers = header, params=params)
data = response.json()
results = data.get('results')

In [ ]:
results[0]['name']

In [ ]:
results[0]

In [ ]:
response2 = requests.get(api_link + "/person/"+str(6161), headers = header, params=params)
data=response2.text
data=response2.json()
print(6161)
print(data['name'],"-",data['place_of_birth'])

Q7) Fetch the Instagram and Twitter handle of Indian Actress "Alia Bhatt" from the TMDb API.

In [ ]:
import requests
import json
api_key = "08702405b13e9f911809faee22ffe971"
api_link = "https://api.themoviedb.org/3"
params = {'query':"Alia Bhatt", 'api_key':api_key,'region':'US'}
header = {'Accept': 'application/json'}
response = requests.get(api_link + "/search/person", headers = header, params=params)
data = response.json()
results = data.get('results')
for result in results:
    person_id=result.get('id')
    print(result.get('id'))

In [ ]:
api_key = "08702405b13e9f911809faee22ffe971"
api_link = "https://api.themoviedb.org/3"
params = {'api_key':api_key}
header = {'Accept': 'application/json'}
response1 = requests.get(api_link + "/person/" +str(person_id)+"/external_ids", headers = header, params=params)
data1 = response1.json()
print(data1['instagram_id'],'',data1['twitter_id'])

Q8) Fetch the names of the character played by Tom Cruise in the movies: Top Gun, Mission: Impossible - Fallout, Minority Report, Edge of Tomorrow

In [ ]:
#Find tom cruise id
import requests
import json
api_key = "08702405b13e9f911809faee22ffe971"
api_link = "https://api.themoviedb.org/3"
params = {'query':"Tom Cruise", 'api_key':api_key,'region':'US'}
header = {'Accept': 'application/json'}
response = requests.get(api_link + "/search/person", headers = header, params=params)
data = response.json()
results = data.get('results')
for result in results:
    person_id=result.get('id')
    print(result.get('id'))

In [ ]:
api_key = "08702405b13e9f911809faee22ffe971"
api_link = "https://api.themoviedb.org/3"
params = {'api_key':api_key}
header = {'Accept': 'application/json'}
response1 = requests.get(api_link + "/person/" +str(person_id)+"/movie_credits", headers = header, params=params)
data1 = response1.json()
results=data1.get('cast')
for result in results:
    if result.get('title')=='Top Gun':
        print(result.get('character'))
        
        
for result in results:
    if result.get('title')=='Mission: Impossible - Fallout':
        print(result.get('character'))
        
for result in results:
    if result.get('title')=='Minority Report':
        print(result.get('character'))

for result in results:
    if result.get('title')=='Edge of Tomorrow':
        print(result.get('character'))

Q9) Did James McAvoy play a role in the movie Deadpool 2. Print Yes or No.

In [ ]:
#Find tom cruise id
import requests
import json
api_key = "08702405b13e9f911809faee22ffe971"
api_link = "https://api.themoviedb.org/3"
params = {'query':"James McAvoy", 'api_key':api_key}
header = {'Accept': 'application/json'}
response = requests.get(api_link + "/search/person", headers = header, params=params)
data = response.json()
results = data.get('results')
for result in results:
    print(result.get('id'),result.get('name'))

In [ ]:
params = {'api_key':api_key}
header = {'Accept': 'application/json'}
response1 = requests.get(api_link + "/person/" + str(5530) + "/movie_credits", headers = header, params=params)
data1 = response1.json()
results1 = data1.get('cast')

for result in results1:
    if result.get('title')=="Deadpool 2":
        temp=result.get('title')
        if temp=="Deadpool 2":
            print('Yes')
        else:
            print('No')

Q10) Using the result obtained in previous question, find out if James McAvoy was credited for his role in movie Deadpool 2. Print Yes or No.

In [ ]:
params = {'api_key':api_key}
header = {'Accept': 'application/json'}
response1 = requests.get(api_link + "/person/" + str(5530) + "/movie_credits", headers = header, params=params)
data1 = response1.json()
results1 = data1.get('cast')

for result in results1:
    if result.get('title')=="Deadpool 2":
        a=result['character']
        print('No')

Q11) Fetch the overview of the TV Show "FRIENDS" using TMDb API.

In [ ]:
#Find tom cruise id
import requests
import json
api_key = "08702405b13e9f911809faee22ffe971"
api_link = "https://api.themoviedb.org/3"
params = {'query':"FRIENDS", 'api_key':api_key}
header = {'Accept': 'application/json'}
response = requests.get(api_link + "/search/tv", headers = header, params=params)
data = response.json()
results = data.get('results')
for result in results:
    if result.get('original_name')=="Friends":
        print(result.get('overview'))

Q12) Fetch the name and air date of S06E05 of the TV Show 'The Big Bang Theory' from TMDb API.

In [ ]:
#Find tom cruise id
import requests
import json
api_key = "08702405b13e9f911809faee22ffe971"
api_link = "https://api.themoviedb.org/3"
params = {'query':"The Big Bang Theory", 'api_key':api_key}
header = {'Accept': 'application/json'}
response = requests.get(api_link + "/tv/1418/season/6/episode/5", headers = header, params=params)
data = response.json()

In [ ]:
print(data['name'],'-',data['air_date'])

Q13) Fetch the trending TV Shows for the week from the TMDb API and print the taglines of the top 5 shows. If there is no tagline, print 'Empty' instead

In [ ]:
#Find tom cruise id
import requests
import json
api_key = "08702405b13e9f911809faee22ffe971"
api_link = "https://api.themoviedb.org/3"
params = {'api_key':api_key}
header = {'Accept': 'application/json'}
response = requests.get(api_link + "/trending/tv/week", headers = header, params=params)
data = response.json()
results=data.get('results')
ID=[]
for result in results[0:5]:
    ID.append(result.get('id'))

for i in ID:
    response1 = requests.get(api_link + "/tv/"+str(i), headers = header, params=params)
    data1=response1.json()
    if data1['tagline']=='':
        print('Empty')
    else:
        print( data1['tagline'])

Q14) Print the names of all the TV shows to be aired today whose original language is english.

In [ ]:
import requests as rq
page_num = 1
api_key = 'e226f4a5f5bace766952aa0d17182959'
api_link = 'https://api.themoviedb.org/3'
header = {'Accept':'application/json'}
params = {'language':'en','api_key':api_key}
r = rq.get(api_link+'/tv/airing_today',headers = header,params = params)
data = r.json()
# print(data)
res = data['results']
page_num = data.get('total_pages')
# print(page_num)
for i in range(1,page_num + 1):
    params = {'language':"en",'api_key':api_key,'page':i}
    r = rq.get(api_link+'/tv/airing_today',headers = header,params = params)
    data = r.json()
    results = data.get('results')
    for r in results:
        if r['original_language'] == 'en':
            print(r['name'])

Q15) Count the number of males and females in the cast of "Money Heist" using the TMDb API.

In [42]:
#Find tom cruise id
import requests
import json
api_key = "08702405b13e9f911809faee22ffe971"
api_link = "https://api.themoviedb.org/3"
params = {'query':"Money Heist", 'api_key':api_key}
header = {'Accept': 'application/json'}
response = requests.get(api_link + "/search/tv", headers = header, params=params)
data = response.json()
results = data.get('results')
for result in results:
    if result.get('name')=='Money Heist':
        movie_id=result.get('id')
        print(result.get('id'))

71446

In [48]:
params = {'api_key':api_key}
header = {'Accept': 'application/json'}
response1 = requests.get(api_link + "/tv/"+str(movie_id)+"/credits", headers = header, params=params)
data1 = response1.json()
results1 = data1.get('cast')
Male=0
Female=0
for result in results1:
    if result.get('gender')==1:
        Female+=1
    elif result.get('gender')==2:
        Male+=1
        
print(Male, Female)

10 5